<!-- <ion-grid fixed>
  <ion-row>

    <ion-col size="6" offset="6" class="ion-no-padding ion-no-margin">

      <ion-button fill="outline" size="large" (click)="handleButtonClick('Pagina1')"
        class="button-shadow pulsating-button">{{'About me' | uppercase}}</ion-button>

      <ion-button fill="outline" size="large" (click)="handleButtonClick('Pagina1')"
        class="button-shadow pulsating-button">{{'Blog' | uppercase}}</ion-button>

    </ion-col>
  </ion-row>
</ion-grid> -->
<ion-tabs *ngIf="deviceType">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play-circle"></ion-icon>
      Listen Now
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="radio"></ion-icon>
      Radio
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<ul class="navigation" *ngIf="!deviceType">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Products</a></li>
  <li><a href="#">Contact</a></li>
</ul>